a {
  text-decoration: none;
  color: lightblue;
}
body {
  background-color: #00557A;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-right: 65px;
  margin-left: 65px;
}
span.negrita {
  font-weight: bold;
}
h1 {
  color: white;
  font-size: 50px;
}
div.fondo {
  background-image: url("img/cielom.jpg");
  background-size: 100%;
  color: white;
}
span.blue {
  color: lightblue;
}
hr {
  width: 22em;
}
span.imgs {
  padding-left: 300px;
}
img.foto {
  margin-right: 80px;
}
