a {
  text-decoration: none;
  color: lightblue;
}
body {
  background-color: #00557A;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-right: 65px;
  margin-left: 65px;
}
span.negrita {
  font-weight: bold;
}
h1.head {
  color: white;
  font-size: 50px;
}
div.fondo {
  background-image: url("img/cielom.jpg");
  background-size: 100%;
  color: white;
}
span.blue {
  color: lightblue;
}
hr {
  width: 22em;
}
span.imgs {
  padding-left: 300px;
}
img.foto {
  margin-right: 80px;
  border-color: black;
  border-style: solid;
  border-width: 10px;
}
img.twitter {
  margin-right: 465px;
}
div.body {
  background-color: white;
}
h1.uno {
  background-color: #002A4D;
  background-size: auto;
  color: white;
}
div.body {
  font-size: 15px;
}
h4.heads {
  color: #00D1FF;
}
h3.estilo {
  color: #002A4D;
  font-weight: bold;
}
