h1 {
  color: red;
}
body {
  background-image: url("bg85.gif");
}
a{
  color: blue;
  font-family: sans-serif;
  font-weight: bold;
}
p{
  font-size: 20px;
  margin: 20px
}
blockquote{
  color: red;
}
address{
  color: black;
  font-weight: bold;
}
